.env
.env.*
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Compiled class files ###
*.class
*.jar
*.war
*.ear

### Log files ###
*.log
*.out
hs_err_pid*

# Node dependencies
node_modules/
dist/
.npm

# Others
gradle.properties
/.githooks
devops/docker/dev/secrets/spring.datasource.password
devops/docker/dev/secrets/postgres_password.txt
devops/docker/dev/secrets/jwt.secret

*.md

# Kotlin
*.salive